{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="Portfolio.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/Portfolio.css'%}">


</head>
<body> 
    
    <header class="header">
        <a href="#" class="logo">Contact: +91 9811183271</a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#education">Education</a>
            <a href="#skills">Skills</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>



    <section class="home" id="home" style="background-image: url('{% static "images/AtulGuptaHome2.jpg" %}');">
        
        
        <div class="home-content">
            <h1><span>Dr. Atul Gupta </span> </h1>
            <div class="text-animate">
                <h4> Heart & Chest Specialist        <i class='bx bx-plus-medical'></i></h4>
            </div>
            <p>An internist commited to ever expanding field of medicine strongly believes that medicine is the backbone of all specialist and have dedicated more than 2 decades of my life practicing internal medicine</p>
            <p>Address: I-141
                Ashok Vihar 
                Phase 1
                Delhi 110052
            <div class="btn-box">
                <a href="#about" class="btn">About Me</a>
                <a href="#contact" class="btn">Contact Me</a>
            </div>
        </p>
        </div>

        <div class="home-sci">
            <a href="https://www.facebook.com/groups/401168151718657/permalink/759957659173036/?mibextid=rS40aB7S9Ucbxw6v "><i class='bx bxl-facebook'></i></a>

        </div>


        <div class="home-imghover"></div>

    </section>
    <section class="about" id="about">
        <h2 class="heading"> <span>Designation</span></h2>
        
        <div class="about-img">
            <img src="{% static 'images/AtulGupta.jpg' %}">
            <span class="circle-spin"></span>
        </div>

        <div class="about-content">
            <h3>Consultant Physician</h3>
            <p>Consultant Physician at Diabetes-Chest-Heart Centre, Lawrence Road, New Delhi-110035<br>
               Visiting Consultant at Max Super Speciality, Pitampura, New Delhi<br>
               Visiting Consultant at Fortis Hospital, Shalimar Bagh, New Delhi<br>
               Speaker and Faculty at various CME Programmes and Conferences in the field of Internal Medicine,Diabetes organized by local organizations <br>
               Honorary member Advisory Board and Faculty and Speaker for various pharmaceuticals of national and international repute
            </p>
            <div class="btn-box btns">
                <a href="#education" class="btn">My Journey</a>
            </div>

        </div>
    </section>


    

    <section class="education" id="education">
        <h2 class="heading"> <span>Journey</span></h2>

        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Activities</h3>
                <div class="education-box">

                    

                    <div class="education-content">
                        <div class="content">
                            <h3>Speaker , Chairperson & Faculty</h3>
                            <p>
                                At various Academic Conferences and CMEs in Delhi as well as other parts of the country in the field of Internal Medicine,Diabetes and Infectious Diseases
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <h3>Active Member of API,DMA,DNZ</h3>
                            <p>
                                DMA-Delhi Medical Association <br>
                                DNZ-Delhi North Zone Forum  <br>
                                API-Association Physician of India  <br>
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <h3>Advisory Board</h3>
                            <p>
                              Advisory Board of various pharmaceuticals MNCs in sharing clinical experiences with them
                            </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <h3>Academic Member of ADA,EASD</h3>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 10th July 2011 in Thailand</div>
                            <div class="year"><i class='bx bxs-calendar'></i> 15th May 2012 in Shenzben</div>
                            <h3>International Academic of Cardiovascular Science </h3>
                            <p>
                                Awarded as participants in seminar on cardiology & Metabolic Diseases
                            </p>
                        </div>
                    </div>

                    
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 7th - 11th September 2008 in Rome </div>
                            <div class="year"><i class='bx bxs-calendar'></i> 30th September - 2nd October 2009 in Vienna </div>
                            <div class="year"><i class='bx bxs-calendar'></i> 20th - 24th September 2010 in StockHolm Sweden </div>
                            <div class="year"><i class='bx bxs-calendar'></i> 1st - 5th October 2012 in Berlin Germany</div>
                            <div class="year"><i class='bx bxs-calendar'></i> 23rd - 27th September 2013 in Barcelona</div>
                            <div class="year"><i class='bx bxs-calendar'></i> 15th - 19th September 2014 in Vienna </div>

                            <h3>European Association for study of Diabetes (EASD)</h3>
                            <p>
                               Awarded as Attendee in EASD held
                            </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 16th - 17th March 2013 </div>

                            <h3>Asia Pacific Speaker's Forum & Stand Alone Symposium</h3>
                            <p>
                                Awarded as participants,sponsored by MSD
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 14th - 16th March 2014 </div>

                            <h3>Scientific Symposium and Speaker Forum Sponsored by MSD</h3>
                            <p>
                                Awarded as participants on topic Individualized treatment for the care of patients with type Z Diabetes
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>2nd - 6th December 2013 in Congress,Melbourne Australia</div>
                            <div class="year"><i class='bx bxs-calendar'></i> 4th - 8th December 2011 in Congress Dubai  </div>
                            <div class="year"><i class='bx bxs-calendar'></i> 2017 in Abu Dhabi</div>

                            <h3>International Diabetes Federation (IDF)</h3>
                            <p>
                                Awarded as Attendee in World Diabetes
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 22nd - 26th June 2007 in Chicago,Illinois</div>
                            <div class="year"><i class='bx bxs-calendar'></i> 6th - 8th June 2008 in San Francisco,California </div>
                            <div class="year"><i class='bx bxs-calendar'></i> 25th - 29th June 2010 in Orlando,Florida  </div>
                            <div class="year"><i class='bx bxs-calendar'></i> 3rd - 6th June 2015 in Boston USA </div>
                            <div class="year"><i class='bx bxs-calendar'></i> 2016 in Neo Orleana </div>
 
                            <h3>American Diabetes Association ASA</h3>
                            <p>
                                Awarded as participants 
                            </p>
                        </div>
                    </div>


                   


                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 10th April 2015 </div>
                            <div class="year"><i class='bx bxs-calendar'></i> 17th March 2015 </div>
                            <div class="year"><i class='bx bxs-calendar'></i> 19th November 2015 </div>

                            <h3>Speaker in North Delhi Physician Forum </h3>
                            <p>
                            10th April 2015 - On the topic Piogiltazone Controversies and Current Status <br>
                            17th March 2015 - On the topic SGLT2 inhibitors in management of type 2 Diabetes <br>
                            19th November 2015 - Newer Treatments in Type 2 Diabetes <br>


                                </p>
                        </div>
                    </div>
                 

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 2016 </div>

                            <h3>European Association for the study of diabetes</h3>
                            <p>
                                Awarded as Attendee in EASD 2016 in Germany
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 2017 </div>

                            <h3>European Society of Cardiology Congress</h3>
                            <p>
                                Awarded as Attendee in ESC 2017 in Barcelona,Spain
                                </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <h3>Speaker for Astra Zeneca on SGLT2 inhibitor</h3>
                            <p>
                                In Bohringer Ingelhein on SGLT2 inhibitor
                                </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">

                            <h3>Speaker in TRIKESH forum</h3>
                            <p>
                                On various Cardio Metabolism Diseases
                                </p>
                        </div>
                    </div>

                </div>
            </div>







            <div class="education-column">
                <h3 class="title">Experience & Education</h3>
                <div class="education-box">

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 1990 </div>
                            <h3> MD Internal Medicine </h3>
                            <p>
                                Maulana Azad Medical College , Delhi
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 1985 </div>
                            <h3> MBBS </h3>
                            <p>
                                University College of Medical Science , Delhi
                            </p>
                        </div>
                    </div>
                  

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> Current </div>

                            <h3>Senior Consultant Physician at Diabetes-Chest-Heart </h3>
                            <p>
                                In Lawrence Road New Delhi 110035
                            </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 7 Months </div>

                            <h3>Worked in Department of Psychaitry </h3>
                            <p>
                                In AIIMS
                            </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> Current </div>
                            <h3>Visiting Consultant</h3>
                            <p>
                                In Sunder Lal Jain Hospital , Ashok Vihar , New Delhi
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> Current </div>
                            <h3>Visiting Consultant </h3>
                            <p>
                                In Max Super Speciality , Pitampura , New Delhi
                            </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> Current </div>
                            <h3>Visiting Consultant </h3>
                            <p>
                                In Fortis Hospital , Shalimar Bagh , New Delhi
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> Current </div>
                            <h3>Speaker and Faculty for Local Organizations</h3>
                            <p>
                               For Various CME Programmes and Conferences in the field of internal medicine , Diabetes and Infectious Diseases organized by various local orgranisations and bodies
                            </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> Current </div>
                            <h3>Honorary Member of Advisory Board and Faculty and Speaker </h3>
                            <p>
                              For Various pharmaceuticals of national and international repute
                            </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> Current </div>
                            <h3>Visiting Consultant </h3>
                            <p>
                                In Fortis Hospital , Shalimar Bagh , New Delhi
                            </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> Current </div>
                            <h3>Visiting Consultant </h3>
                            <p>
                                In Fortis Hospital , Shalimar Bagh , New Delhi
                            </p>
                        </div>
                    </div>


                   

                    

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 1991 - 1996 </div>
                            <h3>Worked as Medical Officer in Department Cardiology and Medicine </h3>
                            <p>
                                In Hindu Rao Hospital
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <h3>Worked as Senior Resident at Department of Medicine</h3>
                            <p>
                                In Lok Nayak Jai Prakash Narayan Hospital
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">

                            <h3>Worked as Senior Resident at Department of Medicine </h3>
                            <p>
                                In G.B. Pant Hospital
                            </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <h3>Worked as Senior Resident at Department of Medicine </h3>
                            <p>
                                In Mulana Medical College
                            </p>
                        </div>
                    </div>
                    
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i> 9 Months </div>

                            <h3>Worked in Department of Anaesthesia </h3>
                            <p>
                                In Safdarjung Hospital
                            </p>
                        </div>
                    </div>

                </div>
            </div>





        </div>
    </section>




        <section class="skills" id="skills">
            <h2 class="heading">My <span>Skills</span></h2>

            <div class="skills-row">
                <div class="skills-column">
                    <h3 class="title">Skills</h3>

                    <div class="skills-box">
                        <div class="skills-content">
                            <div class="progress">
                                <h3>Patient Care<span></span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>Medical Teaching <span></span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>Medical Trials<span></span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>Travelling<span>90%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                            <div class="progress">
                                <h3>Sports and Activities<span>100%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="skills-column">
                    <h3 class="title">Special Skills in Managing</h3>

                    <div class="skills-box">
                        <div class="skills-content">
                            <div class="progress">
                                <h3>Diabetes <span>85%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>Thyroid<span>80%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>Life Style Diseases<span>80%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            

                        </div>
                    </div>
                </div>

            </div>

        </section>



        <div class="box_body">
            <div class="box">
                <span>
        <section class="contact" id="contact">

            <h2 class="heading">Contact <span>Me</span></h2>

            <form action="{% url 'add' %}" method="post">
                {% csrf_token %}
                <div class="input-box">
                    <div class="input-field">
                        <input type="text" name="name" placeholder="Full Name" required>
                        <span class="focus"></span>
                    </div>
                    <div class="input-field">
                        <input type="text" name="email" placeholder="Email Address" required>
                        <span class="focus"></span>
                    </div>
                    <div class="input-field">
                        <input type="number" name="mobile" placeholder="Mobile Number" required>
                        <span class="focus"></span>
                    </div>
                    <div class="input-field">
                        <input type="date" name="maildate" id="today" required>
                        <span class="focus"></span>
                    </div>
                    
                </div>
                    
                    <div class="textarea-field">
                        <textarea name="subject" id="" cols="30" rows="1" placeholder="Your Subject" required></textarea>

                        <span class="focus"></span>
                    </div>


                <div class="textarea-field">
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                    <span class="focus"></span>
                </div>

                <div class="btn-box btns">
                    <button type="submit" class="btn">Submit</button>
                </div>

            </form>
        </section>
        

<footer class="footer">
    <div class="footer-text">
        <a href="#"><p>CopyRight &copy; Lakshay Baijal </p></a>
    </div>
</footer>


<script type ="text/javascript">
	(function(d, m){
		var kommunicateSettings = 
			{"appId":"3740c33afd591f424ef322592bb8efac7","popupWidget":true,"automaticChatOpenOnNavigation":true,"onInit": function() {
            Kommunicate.customizeWidgetCss("div#mck-agent-status-text { display: none !important; } span.mck-agent-status-indicator { display: none !important }");
        }};
		kommunicateSettings.restartConversationByUser = true;
		var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
		s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
		var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
		window.kommunicate = m; m._globals = kommunicateSettings;
	})(document, window.kommunicate || {});
</script>

<script src="{% static 'js/Portfolio.js'%}"></script>
</body>
</html>